.App {
  position: relative;
  overflow-x: clip;
  background-color: white;
}

.App>:nth-child(1) {
  background: var(--black);
  position: relative;
}

::-webkit-scrollbar {
  width: 7px;
  /* You can adjust the width as per your preference */
}

::-webkit-scrollbar-thumb {
  background-color: #4066ff;
}

/* For Firefox */
/* You may need to use !important to override default Firefox styles */
* {
  scrollbar-width: thin;
  scrollbar-color: #4066ff transparent;
}

/* For Edge and IE */
*::-ms-scrollbar {
  width: 8px;
}

*::-ms-scrollbar-thumb {
  background-color: #4066ff;
}

.white-gradient {
  position: absolute;
  width: 20rem;
  height: 20rem;
  background: rgba(255, 255, 255, 0.522);
  filter: blur(100px);
  border-radius: 100px;
}